body {
  font-family: Ubuntu, sans-serif;
  margin: 0 auto;
  max-width: 50em;
  padding: 0 1em;
  line-height: 1.2;
}
nav {
  display: inline-block;
  border-bottom: 1px solid #66CCFF;
}
nav ol {
  list-style-type: none;
  padding-left: 0;
}
nav li {
  display: inline-block;
}
@media print {
  body {
    max-width: none;
    padding: 0;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: Palatino, serif;
  line-height: 1; 
}
table {
  border-collapse: collapse;
}
th, td {
  border: thin solid #a2a9b1;
  padding: 0.2em 0.4em;
}
.here {
  font-weight: bold;
}
.welsh {
  background-color: PaleGreen;
}
.ref, .refuse {
  vertical-align: super;
  font-size: small;
}
div.flex {
      display: flex;
    flex-flow: row;
}
figure {
    display: flex;
    flex-flow: column;
    max-width: 250px;
    margin: auto;
}
